h2 + p {
  color: red;
}

h2 ~ p {
  color: red;
}

/*La etiqueta parrafo que sea hija directa de un div*/
div > p {
  color: red;
}

/*La etiqueta parrafo que sea hija de un div (manera mas generica)*/
div p {
  color: red;
}
