/* La fuente usada es In your face, Joffrey! hecha por 
reema.chhabra@hotmail.com */

@font-face {
  font-family: AmongUs;
  src: url(./font.ttf);
}

body {
  background-color: black;
  font-family: AmongUs;
  width: 100vw;
  height: 100vh;
}

header {
  height: 5vh;
  background-color: black;
  border-bottom: #25282c 2px solid;
}

main {
  height: 88vh;
}

.logo {
  display: inline-block;
  margin: 0 0 0 30px;
}

.logo img {
  height: 40px;
}

.nav {
  display: inline-block;
  list-style: none;
  position: absolute;
  right: 0;
}

.nav li {
  display: inline-block;
  margin-right: 3rem;
  font-size: 1.5rem;
}

.nav li a {
  color: white;
  text-decoration: none;
}

.crewmate {
  width: 10%;
  min-width: 150px;
  height: 100%;
  background-color: #25282c;
  display: inline-block;
  padding: 0;
}

.crewmate__img {
  margin: 0em;
}

.crewmate__img img {
  height: 120px;
  margin: 1.5em;
  background-color: #6f7174;
  border-radius: 10px;
  display: block;
}

.map {
  width: 90%;
  height: 80vh;
  display: inline-block;
  background-color: black;
  position: absolute;
}

.map__title {
  text-align: center;
  font-size: 3rem;
  color: white;
}

.map figure {
  text-align: center;
  width: 95%;
}

.map img {
  height: 700px;
  text-align: center;
}

footer {
  width: 100vw;
  height: 4vh;
  border-top: #25282c 2px solid;
}

.social__media {
  margin: 10px;
  text-align: center;
  font-size: 2rem;
}

.social__media a {
  color: white;
}
